{% extends "public.html" %} {% block page %}
<q-page>
  <div class="row q-col-gutter-md justify-center">
    <div class="col-12 col-md-7 col-lg-6 q-gutter-y-md">
      <q-card class="q-pa-lg">
        <q-card-section>
          <q-form @submit="sendMessage" class="full-width chat-input">
            <q-input
              ref="newMessage"
              v-model="newMessage"
              placeholder="Message"
              class="full-width"
              dense
              outlined
              maxlength="100"
            >
              <template>
                <q-btn
                  round
                  dense
                  flat
                  type="submit"
                  icon="send"
                  color="primary"
                />
              </template>
            </q-input>
          </q-form>
        </q-card-section>
      </q-card>
    </div>
  </div>
  {% for comment in trollbox %} {{ comment }} {% endfor %}
  <q-dialog
    v-model="pers"
    persistent
    transition-show="scale"
    transition-hide="scale"
  >
    <q-card style="width: 300px">
      <q-card-section>
        <q-input label="Name" maxlength="10" v-model="name"></q-input>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-btn v-close-popup color="primary" label="lanch chat"></q-btn>
      </q-card-section>
    </q-card>
  </q-dialog>
</q-page>
{% endblock %} {% block scripts %}
<script>
  window.app = Vue.createApp({
    el: '#vue',
    mixins: [windowMixin],
    data() {
      return {
        name: '',
        newMessage: '',
        trollbox: [],
        pers: true
      }
    },
    methods: {
      sendMessage(message) {
        LNbits.api
          .request(
            'GET',
            '/api/v1/ws/{{chat_id}}/' + this.name + '-' + this.newMessage
          )
          .then(response1 => {
            this.newMessage = ''
            Quasar.Notify.create({
              color: 'green',
              message: 'Sent!'
            })
          })
          .catch(LNbits.utils.notifyApiError)
      },
      initTrollBox() {
        this.troll_box = !this.troll_box

        const url = new URL(window.location)
        url.protocol = url.protocol === 'https:' ? 'wss:' : 'ws:'
        url.pathname = `/api/v1/ws/${chatId}`

        this.connectionchat = new WebSocket(url)
        this.chatUrl = url.toString()
        this.connectionchat.onmessage = e => {
          console.log(e.data)
          this.trollbox.push(e.data)
        }
        this.connectionchat.onopen = () => this.launch
      }
    },
    created() {
      this.chatId = '{{ chat_id }}'
      this.initTrollBox()
    }
  })
</script>
{% endblock %}
